In [14]:
from pydataset import data
import pandas as pd
import os
import warnings
import csv
import matplotlib.pyplot as plt
from env import user, host,password
def get_connection(schema,
                   user=user,
                   host=host,
                   password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{schema}'

In [2]:
|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

SyntaxError: invalid syntax (663399424.py, line 1)

In [49]:
tp=46
tn=34
fp=13
fn=7

In [50]:
accuracy_rate=(tp+tn)/(tp+tn+fp+fn)
print(f'Accuracy rate is {accuracy_rate}')

Accuracy rate is 0.8

In [51]:
recall_rate=(tp)/(tp+fn)
print(f'Recall rate is {recall_rate}')

Recall rate is 0.8679245283018868

In [52]:
precission_rate=(tp)/(tp+fp)
print(f'Precission rate is {precission_rate}')

Precission rate is 0.7796610169491526

False positive is the actual cat, pred cat
False negative is the actual dog, pred dog

In [23]:
df = pd.read_csv('c3.csv')

df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [56]:
dap = df[df.actual == 'Defect']
model1=(dap.model1==dap.actual).mean()
print(f'Model 1 Recall:{model1}')

Model 1 Recall:0.5

In [57]:
dap = df[df.actual == 'Defect']
model2=(dap.model2==dap.actual).mean()
print(f'Model 2 Recall:{model2}')

Model 2 Recall:0.5625

In [58]:
dap = df[df.actual == 'Defect']
model3=(dap.model3==dap.actual).mean()
print(f'Model 3 Recall:{model3}')

Model 3 Recall:0.8125

In [59]:
pp1=df[df.model1=='Defect']
md1p=(pp1.actual==pp1.model1).mean()
md1p

0.8

In [61]:
pp2=df[df.model2=='Defect']
md2p=(pp2.actual==pp2.model2).mean()
md2p

0.1

In [62]:
pp3=df[df.model3=='Defect']
md3p=(pp3.actual==pp3.model3).mean()
md3p

0.13131313131313133

Model 3 would be the best model to follow because it is thoughough enough to find the defects

Model 1 would be better to follow beacuse it has less defects

In [38]:
paw = pd.read_csv('gives_you_paws.csv')

In [39]:
paw

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [43]:
pawa = paw.groupby(['actual'])['actual'].count()
pawa

actual
cat    1746
dog    3254
Name: actual, dtype: int64

In [67]:
(3254/5000)*100

65.08

In [44]:
paw1 = paw.groupby(['model1'])['model1'].count()
paw1

model1
cat    2063
dog    2937
Name: model1, dtype: int64

In [69]:
(2937/5000)*100

58.74

In [45]:
paw2 = paw.groupby(['model2'])['model2'].count()
paw2

model2
cat    3212
dog    1788
Name: model2, dtype: int64

In [70]:
(1788/5000)*100

35.76

In [46]:
paw3 = paw.groupby(['model3'])['model3'].count()
paw3

model3
cat    2492
dog    2508
Name: model3, dtype: int64

In [72]:
(2508/5000)*100

50.160000000000004

In [47]:
paw4 = paw.groupby(['model4'])['model4'].count()
paw4

model4
cat     747
dog    4253
Name: model4, dtype: int64

In [71]:
(4253/5000)*100

85.06

In [ ]:
#Model 1 and 3 are better in terms of even distribution, 2 has more cats than dogs, and 4 is dispropotionately uneven

In [ ]:
#The dog loving team would like model 4, The cat loving team would like model 2